@import "tailwindcss";

@theme{
  --color-brand-red: #F2606C;
  --color-brand-cream: #F7ECD0;
  --color-brand-light: #EBA6B0;
  --color-brand-dark: #EA8E9B;
  --color-brand-sk-dark: #EFBFB3;
  --color-brand-sk-light: #F5D3CE;
}

body {
  background-color: #FDECEC; /* Our new brand-pink background */
  font-family: 'Inter', sans-serif; /* Default body font */
  color: #4B2D2F; /* Default dark text color */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif; /* Default heading font */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}